<form action="/landmarks" method="post">
<label>Landmark Name:</label>
</br>
<input type="text" name="landmark[name]" id='landmark_name' value="">

</br>
<label>Year Completed:</label>

</br>

<input type="text" name="landmark[year_completed]" id='landmark_year_completed' value="">
</br>

<input type="submit" value="Create New Landmark">
</form>
