<h2><%= @landmark.name%></h2>

<table>
  <tr>
    <th>Year Completed</th>
    <th>Figure</th>
  </tr>

  <tr>
    <td><%= @landmark.year_completed %></td>
    <%if @landmark.figure%>
      <td><a href="/figures/<%=@landmark.figure.id%>"><%= @landmark.figure.name %></a></td>
    <%else%>
      <td>[N/A]</td>
    <%end%>
  </tr>
<table>
